body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}

.header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 40px;
  position: fixed;
  z-index: 1;
}

.header h3 {
  margin: 0;
}

.sidebar {
  background-color: #0f172a;
  min-width: 200px;
  height: 100%;
  position: fixed;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar a {
  font-size: 14px;
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: white;
  border: solid 1px #0f172a;
  border-radius: 10px;
  margin: 4px;
  transition: background-color 0.2s ease-in-out; /* Add transition for background color */
}

.sidebar a:hover {
  border: solid 1px white;
  transition: border 0.2s ease-in-out;
}

main {
  margin-left: 200px;
  height: 100%;
  background-color: #f8fafc;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 80px;
  padding-bottom: 20px;
}

.sensor-container {
  margin-bottom: 20px;
}

.sensor-title {
  margin-top: 0;
  margin-left: 18px;
  margin-right: 0;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 14px;
  user-select: none;
}

.sensor-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  color: #0f172a;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  cursor: pointer;
}

.sensor-details img {
  user-select: none;
}

.sensor-details:hover {
  background-color: #1e293b;
  color: white;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.sensor-value {
  user-select: none;
  font-size: 42px;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(43, 43, 43);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(146, 146, 146);
}

@media screen and (max-width: 320px) {
  .header h3 {
    font-size: 12px;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .header h3 {
    font-size: 14px;
  }
  .sensor-value {
    font-size: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 640px) {
  .header h3 {
    font-size: 18px;
  }
}

@media screen and (min-width: 641px) and (max-width: 960px) {
}

@media screen and (min-width: 961px) and (max-width: 1024px) {
}

@media screen and (min-width: 1024px) {
  .sensor-value {
    font-size: 50px;
  }
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .sidebar a {
    float: left;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 0;
  }
  main {
    margin-left: 0;
  }
  .container {
    padding-top: 40px;
  }
}


.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #1e293b;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.sensor-details:hover .loader {
  border: 5px solid white;
  background-color: #1e293b;
  border-bottom-color: transparent;
  transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-bottom-color 0.2s ease-in-out;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.critical {
  background-color: red;
  color: white;
  animation: pulse 0.8s infinite alternate;
  transition: opacity 1s ease-in-and-out;
}

.alert{
  background-color: orange;
  color: white;
}

.warning {
  background-color: yellow;
}

.safe {
  background-color: green;
  color: white;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
