{% extends 'base.html' %} {% block title %}Dashboard{% endblock %} {% block
content %}

<div class="sensor-container">
  <p class="sensor-title">RAIN INTENSITY</p>
  <div class="sensor-details">
    <img
      src="{{ url_for('static', filename='images/rain.png') }}"
      width="64"
      height="64"
      alt=""
    />
    <span id="rain" class="sensor-value">0</span>
  </div>
</div>

<div class="sensor-container">
  <p class="sensor-title">WATER LEVEL</p>
  <div class="sensor-details">
    <img
      src="{{ url_for('static', filename='images/water.png') }}"
      width="64"
      height="64"
      alt=""
    />
    <span id="water" style="font-size: 60px">0</span>
  </div>
</div>

<div class="sensor-container">
  <p class="sensor-title">DISTANCE</p>
  <div class="sensor-details">
    <img
      src="{{ url_for('static', filename='images/distance.png') }}"
      width="64"
      height="64"
      alt=""
    />
    <span id="distance" style="font-size: 60px">0</span>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  let socket = io();
  const rain = document.querySelector("#rain");
  const water = document.querySelector("#water");
  const distance = document.querySelector("#distance");

  socket.on("connect", () => console.log("I'm connected!"));
  socket.on("group11", (data) => {
    const deserializedData = JSON.parse(data);
    const receivedData = deserializedData.group11;
    if (receivedData) {
      rain.innerHTML = receivedData.rain
        ? `${receivedData.rain.value} (${receivedData.rain.type})`
        : "";
      water.innerHTML = receivedData.water
        ? `${receivedData.water.value} (${receivedData.water.type})`
        : "";
      distance.innerHTML = receivedData.distance
        ? `${receivedData.distance.value} CM`
        : "";
    }
  });
</script>

{% endblock %}
